name: Publish create-mer-server to npm registry

on:
  release:
    types: [prereleased, released]

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v5

      - name: Setup nodejs
        uses: actions/setup-node@v5
        with:
          node-version: 24
          check-latest: true
          registry-url: "https://registry.npmjs.org"

      - name: Check node and npm versions
        run: |
          npm -v
          node -v

      - name: Build application
        run: npm run build

      - name: Publish to NPM
        run: npm publish
